h1{
  color:#115ee2;
  font-size: 16px;
}

.formulario{
  padding: 1px 1px 1px 1px;
  border-style: dotted;
  border-width: 1px;
  border-color: #FFFFFF;

}
.formulario input:focus{
  background-color:#aadaf0 ;
}
.formulario select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.formulario button[type=submit],.formulario button[type=reset]{
    background-color: #55df5a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.formulario radio{

}
